<section class="container text-center">
	<div class="invite text-center text-uppercase">
		<main>
			<p>Please join us for the</p>
			<p class="fancy">Wedding</p>
			<p>of</p>
			<p class="fancy names">
				<span>James Kline </span>
				<span>& </span>
				<span>Claudia Falk</span>
			</p>
		</main>

		<section>
			<p>Saturday, December 11, 2021</p>
			<p>At 4 o'clock in the afternoon</p>
		</section>

		<section class="mt-5">
			<p class="font-italic">Black Forest by Wedgewood Weddings</p>
			<p>12375 Black Forest Rd</p>
			<p>Colorado Springs, CO 80908</p>
		</section>

		<section class="mt-5">Attire: Semi-formal (Suit and tie and cocktail dresses)</section>

		<section class="container text-bold text-center disclaimer">
			<span>Unfortunately we are only able to accommodate </span>
			<span>children in the wedding party at our reception. We love your kids but thought </span>
			<span>you might like a night off. <br>Adults only please!</span>
		</section>
	</div>

</section>
<section class="container text-center mt-5 actions">
	<button class="btn btn-lg btn-outline-dark" (click)="rsvp()">RSVP</button><br>
	<button class="btn btn-lg btn-outline-dark mt-3" (click)="hotel()">Hotel Info</button>
</section>
