.invite {
	font-family: 'Source Sans Pro', sans-serif;
	font-size: 25px;
	color: black;
	text-shadow: 1px 1px 3px black;
}

.fancy {
	font-family: 'Tangerine', cursive;
	font-size: 65px;
	font-weight: bold;
	line-height: 1em;
	text-transform: capitalize !important;
	color: #6c081a;
	text-shadow: #000000 -1px 1px 1px;

	span {
		margin-left: 5px;
	}
}

.actions {
	padding-bottom: 20px;

	.fk-btn {
		background-color: #800020;
		color: white;
	}
}

.mat-dialog-content {
	max-height: initial;
}

.disclaimer {
	font-size: 14px;
}

@media only screen and (max-width: 768px) {
	.names {
		display: flex;
		flex-wrap: wrap;

		span {
			flex: 1 0 100%;
		}
	}
}
