<section class="container text-center">
	<div class="invite text-center">
		<main>
			<p>Please join us</p>
			<p class="fancy">December 11, 2021</p>
			<p>in</p>
			<p class="fancy">Colorado Springs, Colorado</p>
			<p>to celebrate the marriage of</p>
			<p class="fancy">
				<span>James Kline</span>
				<span>&</span>
				<span>Claudia Falk</span>
			</p>
		</main>

		<section>Attire: Semi-formal (Suit and tie and cocktail dresses)</section>

		<section class="container text-bold text-center disclaimer">
			<span>Unfortunately we are only able to accommodate </span>
			<span>children in the wedding party at our reception. We love your kids but thought </span>
			<span>you might like a night off. <br>Adults only please!</span>
		</section>
	</div>

</section>
<section class="container text-center mt-5 actions">
	<button class="btn btn-lg btn-outline-dark" (click)="rsvp()">RSVP</button><br>
	<button class="btn btn-lg btn-outline-dark mt-3" (click)="hotel()">Hotel Info</button>
</section>
