.mat-expansion-panel-header-title {
	flex-grow: 0 !important;
	width: 25% !important;
}

.gallery-link {
	border-top: 1px solid rgba(0, 0, 0, 0.25);
	border-bottom: 1px solid rgba(0, 0, 0, 0.25);
}

.image-card {
	height: 200px;
}
