.mat-expansion-panel {
	min-width: 250px !important;
}

.mat-expansion-panel-header {
	min-height: 48px;
	height: auto !important;
}

.gallery-link {
	border-top: 1px solid rgba(0, 0, 0, 0.25);
	border-bottom: 1px solid rgba(0, 0, 0, 0.25);
}

.image-card {
	height: 200px;
}
