.navbar {
	justify-content: space-between;
	font-family: 'Tangerine', cursive;
	font-size: 50px;
	height: 3em;
	background-color: transparent;
	background-image: linear-gradient(#ffb6c2 -25%, transparent);

	span {
		padding-right: 1rem;
	}

	.navLinks {
		font-size: 25px;
		font-weight: bold;

		span {
			&:hover {
				text-decoration: underline;
				cursor: pointer;
			}
		}

	}
}

.active {
	text-decoration: underline;
}

@media only screen and (max-width: 450px) {
	.navbar {
		display: block;
		text-align: center;

		div {
			padding-top: 1rem;
		}
	}
}
