/* You can add global styles to this file, and also import other style files */
@use "assets/scss/modules/fonts";

$font-stack: Roboto, 'Helvetica Neue', sans-serif;
$font-stack-tangerine: 'Tangerine', cursive;

* {
	outline: none;
}

html, body {
	height: 100%;
}

body {
	background: #fff url('assets/images/rosebg.jpg') no-repeat center;
	background-size: cover;
	margin: 0;
	font-family: $font-stack;
}
