/* You can add global styles to this file, and also import other style files */
@import url('https://fonts.googleapis.com/css2?family=Tangerine&display=swap');

* {
	outline: none;
}

html, body {
	height: 100%;
}

body {
	background-image: url("assets/images/rosebg.jpg");
	background-position: center;
	background-size: cover;
	background-repeat: no-repeat;
	margin: 0;
	font-family: Roboto, "Helvetica Neue", sans-serif;
}
